<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Home Page</title>
    <link rel="stylesheet" href="../main.css">
    <script>
    </script>

</head>
<center>

    <body>
    {{>nav}}

    <main>
        <section>
            <!--REPLACE /LOGIN-->
            <form method="POST" action="/input">
                <input type="integer" name="user" placeholder="What you want to search" required>
                <input type="submit">
            </form>


            <form method="POST" action="/refresh">
                <button type="button">Refresh</button>
                <p id="demo">
                    <img src={{output1}} alt="Your image!">
                    <img src={{output2}} alt="Your image!">
                    <br>
                    <img src={{output3}} alt="Your image!">
                    <img src={{output4}} alt="Your image!">
                    <br>
                    <img src={{output5}} alt="Your image!">
                    <img src={{output6}} alt="Your image!">
                    <br>
                    <img src={{output7}} alt="Your image!">
                    <img src={{output8}} alt="Your image!">
                    <br>
                    <img src={{output9}} alt="Your image!">
                    <img src={{output10}} alt="Your image!">
                    <br>
                    <img src={{output11}} alt="Your image!">
                    <img src={{output12}} alt="Your image!">
                    <br>
                    <img src={{output13}} alt="Your image!">
                    <img src={{output14}} alt="Your image!">
                    <br>
                    <img src={{output15}} alt="Your image!">
                    <img src={{output16}} alt="Your image!">
                    <br>
                    <img src={{output17}} alt="Your image!">
                    <img src={{output18}} alt="Your image!">
                    <br>
                    <img src={{output19}} alt="Your image!">
                    <img src={{output20}} alt="Your image!">
                    <br>
                    <img src={{output21}} alt="Your image!">
                    <img src={{output22}} alt="Your image!">
                    <br>
                    <img src={{output23}} alt="Your image!">
                    <img src={{output24}} alt="Your image!">
                    <br>
                    <img src={{output25}} alt="Your image!">
                    <img src={{output26}} alt="Your image!">
                    <br>
                    <img src={{output27}} alt="Your image!">
                    <img src={{output28}} alt="Your image!">
                    <br>
                    <img src={{output29}} alt="Your image!">
                    <img src={{output30}} alt="Your image!">
                    <br>
                    <img src={{output31}} alt="Your image!">
                    <img src={{output32}} alt="Your image!">
                    <br>
                    <img src={{output33}} alt="Your image!">
                    <img src={{output34}} alt="Your image!">
                    <br>
                    <img src={{output35}} alt="Your image!">
                    <img src={{output36}} alt="Your image!">
                    <br>
                    <img src={{output37}} alt="Your image!">
                    <img src={{output38}} alt="Your image!">
                    <br>
                    <img src={{output39}} alt="Your image!">
                    <img src={{output40}} alt="Your image!">
                    <br>
                    <img src={{output41}} alt="Your image!">
                    <img src={{output42}} alt="Your image!">
                    <br>
                    <img src={{output43}} alt="Your image!">
                    <img src={{output44}} alt="Your image!">
                    <br>
                    <img src={{output45}} alt="Your image!">
                    <img src={{output46}} alt="Your image!">
                    <br>
                    <img src={{output47}} alt="Your image!">
                    <img src={{output48}} alt="Your image!">
                    <br>
                    <img src={{output49}} alt="Your image!">
                    <img src={{output50}} alt="Your image!">
                    <br>
                    <img src={{output51}} alt="Your image!">
                    <img src={{output52}} alt="Your image!">


                </p>
            </form>

        </section>
    </main>
</center>

</body>
</html>
